body{
  background-image: url('../public/assets/215595.gif');
  background-size: cover;
  
  height: 100vh;
  padding:0;
  margin:0;
}

/* Add a black background color to the top navigation */
.nav-bar {
  background-color: hsl(0, 0%, 0%, 70%);
  overflow: hidden;
  border-bottom: 1px solid hsl(0, 0%, 95%, 50%);
  /* position: fixed; */
  top: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */

.nav-bar a {
  float: right;
  color: #f2f2f2;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background-color: #64CAAA;
  color: black;
}

.nav-bar a.active {
  background-color: #196095;
  color: white;
}

.nav-bar button {
  float: right;
  color: #f2f2f2;
  background-color: Transparent;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  border-style: solid;
}

.nav-bar button:hover {
  background-color: #64CAAA;
  cursor: pointer;
}

.nav-bar button.active {
  background-color: #196095;
  color: white;
}

/* Style the title & start nav link */
.title-div a {
  text-decoration: none;
  text-align: center;
}

.title-div h1 {
  background: black;
  padding: 100px;
  padding-left: 180px;
  padding-right: 180px;
  width: 40vw;
  text-shadow: -1px 1px 0 #f2f2f2, 
  1px 1px 0 #f2f2f2, 
  1px -1px 0 #f2f2f2, 
  -1px -1px 0 #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #7474A3;
  text-align: center;
  font-size: 75px;
}

.title-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.start-button {
  background-color: black;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #f2f2f2;

  color: #64CAAA;
  font-weight: bold;
  font-size: 25px;
  /* text-shadow: -1px 1px 0 #f2f2f2, 
                1px 1px 0 #f2f2f2, 
                1px -1px 0 #f2f2f2, 
                -1px -1px 0 #f2f2f2;  */
}

.start-button:hover {
  background-color: #196095;
  color: #f2f2f2;
  border: 3px solid #f2f2f2;
}

/* .start-button:hover {
  background-color: #64CAAA;
  color: black;
  border: 3px solid black;
} */

.start-button-container {
  text-align: center;
}

/* testing out responsive grid view on login page */
/* * {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid rgb(48, 163, 134);
}

.row::after {
  content: "";
  clear: both;
  display: table;
} */

html {
  font-family: "Lucida Sans", sans-serif;
}


.form-div {
  background-color: black;
}

.form-div h1{
  margin-top: 30px;
  margin: 0px;
  width: 400px;
  margin: auto;
}

form {
  margin: auto;
  text-align: center;
  width: 400px;
  color: #f2f2f2;
  padding-top: 40px;
}

.account {
  color: #7474A3;
  background-color: black;
  /* margin: 100px; */
  /* padding-left: 15px; */
}

.account p {
  margin-bottom: 50px;
}

/* .account label {
  margin-top: 20px;
  margin-bottom: 10px;
} */

.account button {
  margin-bottom: 20px;
}

.playthroughs {
  color: #7474A3;
  background-color: black;
  /* margin: 100px; */
  /* padding-left: 15px; */
}

.user-character-card-div {
  color: #7474A3;
  background-color: black;
  border: 1px;
  border-color: #7474A3;
}

.location-div {
  width: fit-content;
  width: 60%;
  height: 92vh;
  float: left;
  margin-top: 0px;
  margin-left: clamp(5px, calc(5px + (30 - 5) * ((100vw - 1000px) / (1600 - 1000))), 30px);
  margin-right: clamp(5px, calc(5px + (30 - 5) * ((100vw - 1000px) / (1600 - 1000))), 30px);
  background: rgba(0, 2, 1, 0.842);
  padding-left: clamp(5px, calc(5px + (30 - 5) * ((100vw - 1000px) / (1600 - 1000))), 30px);
  padding-right: clamp(5px, calc(5px + (30 - 5) * ((100vw - 1000px) / (1600 - 1000))), 30px);
  padding-top: 10px
}

.location-image {
  object-fit: contain;
  width: 97%;
  max-width: 97%;
  max-height: 93%;
  display: block;
  margin: auto;
  margin-top: 15px;
  background: rgba(0, 2, 1, 0.842);
  border: 3px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.character-image {
  object-fit: contain;
  width: 15%;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 140px;
  left: 55px;
  border: 3px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.man, .map-image {
  filter: hue-rotate(-5deg) brightness(85%) grayscale(30%);
}

.character-name {
  color: #7474A3;
}


.inventory {
  color: #7474A3;
  background-color: black;
  height: 29vh;
  width: 25%;
  padding: 10px 60px;
  /* position: fixed; */
  /* top: 61vh; */
  /* left: 68%; */
  margin-top: 20px;;
  background: rgba(0, 2, 1, 0.842);
  border: 3px solid black;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.game h3 {
  color:#f2f2f2;
  text-align: center;
  font-size: 22px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
}

.inventory-item {
  padding: 10px;
  text-align: center;
}

.inventory-item img {
  max-height: 19vh;
  max-width: 100%;
  border: 3px solid black;
}

.inventory-item img:hover {
  cursor: zoom-in
}

input[type=checkbox] {
  display: none;
}

.map-big {
  position: fixed;
  z-index: 1;
  height: 80vh;
  max-height: 80vh;
  max-width: 94vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  top: 54%;
  transform: translate(-50%, -54%);
  border: 3px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  filter: hue-rotate(-5deg) brightness(85%) grayscale(30%);
}

/* body {
  overflow-y: hidden;
} */


.events p, span {
  white-space: pre-wrap;
  font-size: 20px;
}

.events {
  color: #f2f2f2;
  padding: 10px 60px;
  background-color: black;
  height: 54vh;
  width: 25%;
  background: rgba(0, 2, 1, 0.842);
  border: 3px solid black;
  overflow-y:auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}



/* signup and login */

.center-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #7474A3;
  /* padding: 300px 200px; */
}

.login-page, .signup-page, .account {
  padding: clamp(30px, calc(30px + (120 - 30) * ((100vw - 1000px) / (1600 - 1000))), 120px) clamp(30px, calc(30px + (200 - 30) * ((100vw - 1000px) / (1600 - 1000))), 200px);
}

.playthroughs {
  padding: clamp(30px, calc(30px + (50 - 30) * ((100vw - 1000px) / (1600 - 1000))), 50px) clamp(30px, calc(30px + (300 - 30) * ((100vw - 1000px) / (1600 - 1000))), 300px);
}


.center-card h1 {
  font-size: clamp(12px, calc(12px + (55 - 12) * ((100vw - 300px) / (1600 - 300))), 55px);
}

h2 {
  font-size: clamp(12px, calc(12px + (26 - 12) * ((100vw - 300px) / (1600 - 300))), 26px);
  color:#7474A3
}

.center-card label, .center-card span, .center-card p, .center-card h3 {
  font-size: clamp(12px, calc(12px + (21 - 12) * ((100vw - 300px) / (1600 - 300))), 21px);
  color: white
}

.redirect {
  margin-top: 50px;
}

label {
  display: flex;
  justify-content: center;
  text-align: right;
  /* line-height: 26px; */
  margin-bottom: 5px;
}

input {
  margin-left: 10px;
}

.center-card form{
  margin-top: 5px;
}



/* button styling */

.submit {
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 17px;
  border-style: solid;
  border-radius: 50px;
  font-size: clamp(12px, calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300))), 15px);
  font-weight: bold;
  /* margin-top: 5px; */
  margin-left: 10px;
}

.center-card a {
  color: black;
  border: none
}

.submit:hover {
  background-color: #64CAAA;
  cursor: pointer;
}


/* playthroughs */

.playthroughs h1 {
  margin-bottom: 60px;
}

.user-character-card-div {
  background: #7474A3;
  padding: 20px;
  margin-bottom: 15px;
}

.user-character-card-div p, .user-character-card-div button {
  color: black;
  margin: 5px;
}

.new-playthrough {
  margin-top: 40px;
}

.red:hover {
  background-color: red;
  background: red;
}

.letter-button, .direction-button {
  cursor: pointer;
  background-color:#336656;
  color: white;
  box-shadow: none;
  border: none;
  padding: 10px;
  font-size: 15px;
  margin: 5px;
}

.letter-button:hover, .direction-button:hover {
  background-color:#64CAAA;
  /* background-color:#64CAAA; */
  color: black;
}

.letter-button {
  border-radius: 50%;
}

.direction-button {
  margin-top: 15px
}